
/**
 * Tipografia básica.
 */
$typography-base = {
  font-size: 1.4rem,
  font-weight: 300,
  font-family: unquote("'Barlow', sans-serif")
}

/**
 * Tipografia dos títulos.
 */
$typography-title = {
  font-weight: 400,
  font-family: unquote("'Anaheim', sans-serif")
}
