
/**
 * Tipografia básica.
 */
$typography-base = {
  font-size: 1.4rem,
  font-weight: 300,
  font-family: unquote("'Barlow', sans-serif")
}

/**
 * Tipografia dos títulos.
 */
$typography-title = {
  font-weight: 400,
  font-family: unquote("'Anaheim', sans-serif")
}

$color-primary = #DF4168
$color-neutral = #CFDEE2
$color-contrast = $color-primary
$color-error = #E94141
